
<div class="content">
    <div class="column shadow shadow-primary shadow-intensity-lg">
      <ul>
        <li><%= link_to "Timeline", posts_path%><br></li>
        <li><%= link_to "Profile", user_path(current_user.id) %></li>
        <li><%= link_to "Friend Requests", invitations_path %></li>
        <li><%= link_to "Find Friends", users_path %></li>
      </ul>
    </div>
    <div class="column-middle">
      <% @my_invitations.each do |invitation| %>
        <% requester = User.find(invitation.user_id) %>
        <%= requester.full_name %>
        <%= button_to "Accept", invitation_path(invitation.id, :response => "accepted", :invitation_id => invitation.id), method: :patch, class: "btn btn-primary" %>
        <%= button_to "Decline", invitation_path(invitation.id, :response => "declined", :invitation_id => invitation.id), method: :patch, class: "btn btn-danger" %>
        <br>
      <% end %>
    </div>
    <div class="column shadow shadow-primary shadow-intensity-lg">

    </div>
  </div>