
<% flash.each do |type, msg| %>
  <div class="alert alert-secondary">
    <%= msg %>
  </div>
<% end %>

<div class="position-absolute top-50 start-50 translate-middle">
  
  <h2 class="text-center">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-outline mb-2">
      <%= f.label :email, class: "hidden" %>
      <%= f.email_field :email, placeholder: "Email Address", class: "p-1" %>
    </div>
  
    <div class="form-outline mb-3">
      <%= f.label :password, class: "hidden" %>
      <%= f.password_field :password, placeholder: "Password", class: "p-1" %>
    </div>

    <div class="actions d-grid gap-2 mb-2">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-outline-primary d-grid gap-2 mb-2" %>
  <% end %>
  
  <div>
    <p class="text-center mb-2 text-muted">sign in with</p>
    <p class="text-center mb-2 text-muted">email: Demo@email.com</p>
    <p class="text-center mb-2 text-muted">password: demonstration</p>
  </div>
  
</div>
