
<div class="left-column column shadow shadow-primary shadow-intensity-lg">
  <ul>
    <li><%= link_to "Timeline", posts_path%><br></li>
    <li><%= link_to "Profile", user_path(current_user.id), data: { turbo_frame: "middle-column"} %></li>
    <li><%= link_to "Edit Profile", edit_user_path(current_user.id), data: { turbo_frame: "middle-column"} %></li>
    <li><%= link_to "Friend Requests", invitations_path, data: { turbo_frame: "middle-column"} %></li>
    <li><%= link_to "Find Friends", users_path, data: { turbo_frame: "middle-column"} %></li>
    <li><%= link_to "My Friends", invitation_path(current_user.id), data: { turbo_frame: "middle-column"} %></li>
    <li><%= link_to "My Posts", user_posts_path(current_user.id), data: { turbo_frame: "middle-column"} %></li>
    <li><%= link_to "Liked Posts", user_likes_path(current_user.id), data: { turbo_frame: "middle-column"} %></li>
  </ul>
</div>
