
  <% flash.each do |type, msg| %>
    <div class="alert alert-secondary">
      <%= msg %>
    </div>
  <% end %>
  
  <div class="content">
    <div class="column shadow shadow-primary shadow-intensity-lg">
      <ul>
        <li><%= link_to "Timeline", posts_path%><br></li>
        <li><%= link_to "Profile", user_path(current_user.id) %></li>
        <li><%= link_to "Friend Requests", invitations_path %></li>
        <li>
          <%= link_to "Find Friends", users_path, data: { turbo_frame: "middle-column"} %>
        </li>
        <li><%= link_to "Your Friends", invitation_path(current_user.id) %></li>
      </ul>
    </div>


    <%= turbo_frame_tag "middle-column" do %>

      <div class="column-middle">
        <%= form_with model: @post, url: posts_path, scope: :post, data: {turbo: "false"} do |form| %>
          <%= form.hidden_field :author, value: current_user.full_name %>
          <%= form.text_area :post_content, placeholder: "What's on your mind?", class: "post-box" %>
          <%= form.submit class: "btn btn-primary post-button" %>
        <% end %>
      </div>
      <% if @posts %>
        <% @posts.each do |post| %>
          <%= post.author %>
          <%= post.post_content %>
        <% end %>
      <% end %>
    <% end %>


    <div class="column shadow shadow-primary shadow-intensity-lg">

    </div>
  </div>