<%= turbo_frame_tag "middle-column" do %>
  <div class="column-middle">
    <div class="post shadow shadow-intensity-xl mt-3">
      <div>
        <%= link_to @post.user.full_name, user_path(@post.user_id), class: "text-decoration-none" %>
      </div>
      <div class="text-muted">
        <%= @post.created_at.strftime("%B %e %Y") %>
      </div>
      <hr class="my-2">
      <%= @post.post_content %>
      <hr class="my-2">
      <p>
      <div class="d-flex">
        <% pre_like = @post.likes.find { |like| like.user_id == current_user.id } %>
        <% if pre_like %>
          <%= button_to "Unlike", post_like_path(@post, pre_like), method: :delete %>
        <% else %>
          <%= button_to "Like", post_likes_path(@post), method: :post %>
        <% end %>
        <div class="flex-grow-1"><%= @post.likes.count %></p></div>
        <%= link_to "Comment", post_path(@post) %>
      </div>
      <hr class="my-2">
      <div>
        <% if @post.comments %>
          <% @post.comments.each do |comment| %>
            <div class="card p-2 my-2">
              <div class="d-flex">
                <%= link_to comment.user.full_name, user_path(comment.user_id), class: "text-decoration-none flex-grow-1" %>
                <% if comment.user_id == current_user.id %>
                  <%= button_to "delete", post_comment_path(@post, comment), method: :delete %>
                <% end %>
              </div>
              <%= comment.comment_content %>
            </div>
          <% end %>
        <% end %>
      </div>
      <hr class="my-2">
      <div>
        <%= form_with model: @comment, url: post_comments_path(@post) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.text_area :comment_content, placeholder: "Write a comment...", class: "post-box" %>
          <%= form.submit class: "btn btn-primary post-button" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>