<%= turbo_frame_tag "middle-column" do %>

  <%= render "layouts/flash_message" %>

  <div class="column-middle">
    <div class="post shadow shadow-intensity-xl mt-3">
      <%= render partial: "posts/post_header", locals: { post: @post, path: post_path(@post) } %>
      <hr class="my-2">
      <%= render partial: "posts/post_content", locals: { post: @post } %>
      <hr class="my-2">
      <%= render partial: "posts/post_footer", locals: { post: @post, path: post_path(@post) } %>
      <%= render partial: "posts/comments", locals: { post: @post } %>
      <hr class="my-2">
      <div>
        <%= render partial: "posts/text_box", locals: { model: @comment, url: post_comments_path(@post), 
        scope: :comment, content: :comment_content, placeholder: "Write a comment..." } %>
      </div>
    </div>
  </div>
  
<% end %>