<!DOCTYPE html>
<html>
  <head>
    <%# <link rel="icon" type="image/png" href="assets/icons/acorn.png"> %>
    <title>Chipper</title>
    <script src="https://kit.fontawesome.com/0eff1f1b99.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="body-container">
      <%= render "layouts/nav", class: "navbar" %>
      <%= yield %>
    </div>
  </body>
</html>
